.container-fluid
  .row
    .col-md-12
      table.table.table-hover
        thead
          tr
            th ID
            th Name
            th Title
            th Type
            th Aktion
        tbody
          tr(ng-repeat="content in contents")
            td {{content.id}}
            td {{content.name}}
            td {{content.title}}
            td {{content.type}}
            td
adminbar(data-add="add", data-upload="upload", data-download="download", data-refresh="refresh", data-toogle-html="toogleHtml", data-save="save")